      <footer>
        </p>
	<p><a href="http://github.com/jason-foo/" target="_blank">Jason</a> Dec 2013</p>
      </footer>
    </div>
  </body>
  <script src="/javascripts/jquery.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
</html>
